@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.gameConsole {
  display: flex; 
  justify-content: space-between;
}

ul {
  font-size: 20px;
  font-family: 'Verdana', cursive;
  line-height: 1.5em;
  list-style-type: none;
  margin: 20px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 3px 2px;
}
  

.gameStats {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

.bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: -1;
  filter:brightness(70%);
}

